/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/images/Background.jpg");
  min-height: 100%;
}

.star-rating {
  display: flex;
  justify-content: space-between; /* Evenly spaces stars across the width */
  color: gold;
  font-size: 24px;
}

#container {
  display: flex;
  justify-content: center;
}

#WeakAurasList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#WeakAurasList::-webkit-scrollbar {
    position: absolute;
    right: 0;
}

#WeakAurasList::-webkit-scrollbar {
            width: 10px;
}
        
#WeakAurasList::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}
        
#WeakAurasList::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d55959;
}
.responsive {
  width: 100%;
  height: auto;
}
.githubSkillContainer{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 50em) {
  #CoreAuras{
  display: flex;
  justify-content: center;
  gap: 20px;
  }
  #CoreAuraCard{
  min-width: 350px;
  min-height: 320px;
  }
  #CoreAura{
  flex: 0 1 350px;
  }
}
@media screen and (max-width: 50em) {
  .hideOnMobile{
    display: none;
  } 
}

@media (max-width: 600px) {
  .star-rating {
    font-size: 20px; /* Smaller font size on mobile */
  }
}

@media (max-width: 400px) {
  .star-rating {
    font-size: 16px; /* Even smaller font size on very small screens */
  }
}

.DungeonAurasCardText{
  min-height: 130px;
}
.DungeonTitle{
  min-height: 90px;
  min-width: 220px;
}
.modalIframe{
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  border: none;
}
#modal01{
  display: none;
  justify-content: center;
}

.iframe-Dark {
  background-color: #0d1117;
}