body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  hyphens: auto;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/images/Background.jpg");
  min-height: 100%;
}



.w3-bar .w3-button {
  padding: 16px;
}


#container {
  display: flex;
  justify-content: center;
}

#WeakAurasList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#WeakAurasList::-webkit-scrollbar {
    position: absolute;
    right: 0;
}

#WeakAurasList::-webkit-scrollbar {
            width: 10px;
}
        
#WeakAurasList::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}
        
#WeakAurasList::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d55959;
}

@media screen and (min-width: 50em) {
  #CoreAuras{
  display: flex;
  justify-content: center;
  gap: 20px;
  }
  #CoreAuraCard{
  min-width: 350px;
  min-height: 320px;
  }
  #CoreAura{
  flex: 0 1 350px;
  }
}
@media screen and (max-width: 50em) {
  .hideOnMobile{
    display: none;
  } 
}
.DungeonAurasCardText{
  min-height: 130px;
}
.DungeonTitle{
  min-height: 90px;
  min-width: 220px;
}
.modalIframe{
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  border: none;
}
#modal01{
  display: none;
  justify-content: center;
}

.iframe-Dark {
  background-color: #0d1117;
}
.languagePicker{
  padding:16px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
  white-space:normal
}
#language-picker-select{
  background-color: #616161;
  color: white;
  border: none;
  border-radius: 10%;
}

.select-items {
  position: absolute;
  top: 100%;
  left: 20;
  right: 20;
  z-index: 99;
}

.WoWAddonCard {
  position: relative;
  text-align: center;
  color: white;
}

.WoWAddonCardText {
  position: absolute;
  color: rgb(0, 0, 0);
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


.language-picker__form:hover #language-picker-select {
  background-color: #9e9e9e;
}


.AdditionalStuff{
  padding: 20px;
  hyphens: auto; 
	text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}
